<header>
  <nav>
    <h1>TODO</h1>
  </nav>
</header>
<section>
  <ul class="todo-list">
    <li *ngFor="let day of displayDays" class="list-item">
      <div class="title">
        {{ day.title }}
      </div>
      <div class="date">
        {{ day.date | date: 'E d MMM' }}
      </div>
      <ul class="tasks" *ngFor="let task of day.tasks">
        <li class="task-item">
          <div class="title">
            {{ task.title }}
          </div>
          <div class="description">
            {{ task.description }}
          </div>
          <div class="label" [ngClass]="task.label">
            {{ task.label }}
          </div>
        </li>
      </ul>
    </li>
  </ul>

</section>
